:root{
   --branding-color:#6c63ff;
   --secondary-color:#f9f7fe;
   --heading-font-family:"Playfair Display", serif;
   --defoult-font-family:"Poppins", sans-serif;

}
h1,h2,h3,h4{
    font-family: var(--heading-font-family);
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #272142;
}
.navbar-brand{
    font-size: 16px;
    color: #272142;
    font-weight: 500;
    font-family: var(--heading-font-family);
    
}

.active:hover{
    color: var(--branding-color)!important;
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p{
    font-family: var(--defoult-font-family);
    font-weight: bold;
    font-size: 36px;
    color: #272142;
    margin: 0;
}
.hero h1{
    font-size: 96px;
    font-weight: bold;
    font-family: var(--heading-font-family);
    color: var(--branding-color);
}
.hero h2{
    font-family: var(--defoult-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: #272142;
}
.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    padding:15px 20px;
    font-size:18px;
    line-height: 27px;
}

 
h2{
    font-size: 64px;
}
p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.btn-branding-outline{
    color: var(--branding-color);
    font-size: 18px;
    padding:15px 30px;
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    }
    .project-description{
        padding:120px 60px;
    }
    li{
        list-style-type: none;
         padding:20px;
    }
    

    
    footer a{ 
        display: block;
        text-align: center;
        text-decoration: none;
        font-size:24px;
        color: #272142;
        padding-bottom: 50px;
    
    }
    .communication {
        display: flex;
        flex-direction: row;
        justify-content:center;
        padding:0px;
    }
    

    @media(max-width:900px){
       .hero h1{
            font-size: 44px;
            line-height: 2;
        }
       .hero p{
            font-size: 44px;
            text-align: center;
            line-height: 1.5;
        }
        .hero{
            padding:50px 20px;
        }
        .project-description{
            padding:0;
            text-align: center;
        }
    }